*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    gap: 30px;
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
}
.formulario{
    gap: 5px;
    display: flex;
    flex-direction: column;
}
input, select,button{
    padding: 4px 8px;
}
button{
    margin-top: 5px;
}
.alert{
    border: solid 1px red;
}

th{
    padding: 7px 20px;
}
td{
    text-align: center;
}